* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

.navLink {
  color: white !important;
}

.bgColor {
  background-color: burlywood !important;
}

.centeredParagraph {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.contactDiv {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

#About {
  margin-bottom: 80px;
}